.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgba(45, 176, 224, 1) 0%, rgba(96, 40, 168, 1) 100%);
}


.main {
    height: 55vh;
    background: #2a6bb1;
    box-shadow: 0 2px 80px -20px rgba(0, 0, 0, 0.5);
    width: 60vw;
    margin: 0 auto;
}


.info {
    height: 55vh;
    background: url("./assets/polygon.jpg") center center no-repeat;
    background-blend-mode: multiply;
    border: 2px solid #1f1f1f;
    border-right: 2px solid #131e29;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
}


.form {
    height: 55vh;
    padding-top: 100px;
    padding-left: 50px;
    border-top: 2px solid #113a65;
    border-bottom: 2px solid #113a65;
    border-right: 2px solid #113a65;
}


input[type="text"] {
    background-color: transparent;
    border: 0;
    border-bottom: solid 2px #113a65;
    width: 50%;
    padding-bottom: 4px;
    color: #fff;
    font-weight: lighter;
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 20px;
    outline: none;
}


button {
    border: 2px solid #103a65;
    border-bottom: 4px solid #103a65;
    padding: 8px 20px;
    margin: 0 2px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #235d9c;
    color: #fff;
    outline: none !important;
}


button:hover {
    border-bottom: 2px solid #103a65;
    position: relative;
    top: 2px;
}


button:active {
    border-bottom: 2px solid transparent;
    position: relative;
    top: 2px;
}


.info h1 {
    font-size: 3em;
    color: #fff;
}


.info p {
    color: #e4e4e4;
    font-weight: bold;
}


.infoWeath {
    width: 60%;
    font-size: 20px;
    color: #fff;
}


.error {
    color: #041f3c;
    font-weight: bold;
}
